.App {
  background-color: #12343b;
  padding: 50px
}

body,
html {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

button {
  background-color: orangered;
  border: 1px solid orangered;
  padding: 5px 10px;
  border-radius: 5px;

  font-size: 0.85rem;
}

h3,
button {
  color: white;
}

input {
  padding: 5px 10px;
  margin-right: 10px;
  width: 300px;
  border-radius: 5px;
  background-color: lightgray;
  border: none;

}

h1 {
  color: orangered;
  margin-top: 30px;
  font-size: 3rem;
  margin-bottom: 0;
}

h1,
h3,
.theme-btn {
  text-align: center;
}

h3 {
  font-weight: 200;
}

img {
  width: 300px;
}

.theme-btn {
  margin-bottom: 20px;
}

.search-form,
.recipe-render,
.favorite-render,
.recipe-boxes {
  width: 100%;
  display: flex;
}

.search-form,
.recipe-render,
.favorite-render {
  justify-content: center;
}

.recipe-boxes {
  margin-top: 50px;
  padding-top: 20px;
  width: 320px;
  height: 320px;
  background-color: white;
  border: 1.5px solid orangered;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.recipe-render,
.favorite-render {
  flex-wrap: wrap;
  gap: 25px
}